<html lang="en">

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/weather.png" type="image">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site uses data from mapbox.com and weatherstack.com</p>
        <img class="ok" src="/img/ok.png" />
    </div>

    {{>footer}}
</body>

</html>